.criminalsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.criminal {
    border: solid;
    width: 17em;
    margin: 1rem;
    background-color: lightgray;
    border-radius: 10%;
    border-color: grey;
   
}
.criminal:hover{
    background-color: lightslategrey;
}
.alibi__name {
    font-size: larger;
    text-decoration: underline;
    text-align: center;
}
