@import "./filters.css";
@import "./notes.css";
@import "./officers.css";
@import "./criminals.css";
@import "./witnesses.css";


body {
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/5-jail-cell-door-and-welded-iron-bars-allan-swart.jpg);
}

header {
    text-align: center;
     
}
h1 {
    color: darkgoldenrod;
    font-size: 3rem;
}
 
button {
border-radius: 15%;

}
button:hover{
    background-color: lightslategray;
}
p {
    text-align: center;
    
}

.invisible {
    display:none;
}



