@import "./filters.css";
@import "./notes.css";
@import "./officers.css";
@import "./criminals.css";
@import "./witnesses.css";


body {
    background-color: lightgray;
}

header {
    text-align: center;
    text-decoration: underline;

}
 
button {
    margin-left: 1rem;
border-radius: 15%;
}
button:hover{
    background-color: lightslategray;
}
p {
    text-align: center;
    text-decoration: underline;
}

.invisible {
    display:none;
}



