header {
    text-align: center;
    text-decoration: underline;
}
 .criminalsContainer{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 .officersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
.criminal {
    border: solid;
    width: 17em;
    margin: 1rem;
   
}
.officer {
    border: solid;
    width: 15em;
    margin: 1rem;
}
p {
    text-decoration: underline;
    text-align: center;
    font-size: large;
}

